.header {
  padding: 14px 0;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 0px center;
  background-size: auto;

  @include media(desktop) {
    padding: 12px 0;
    background-image: url(../img/hero/hero-bg-desk.png);
  }
}

.header-container {
  padding: 0 32px;

  @include media(desktop) {
    padding: 0 58px;
  }
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @include media(desktop) {
  }
}

.header-logo-link {
}

.menu-icon {
  @include media(desktop) {
    width: 48px;
    height: 48px;
  }
}

.nav-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}

.close-btn {
  display: none;
  justify-content: center;
  align-items: center;

  @include media(desktop) {
  }
}
