.hero-section {
  background-image: url(../img/hero/hero-bg-mob.png);
  background-repeat: no-repeat;
  background-position: top 0px center;
  background-size: auto;
  padding-top: 148px;
  padding-bottom: 148px;
  max-width: 375px;
  margin: 0 auto;

  @include media(desktop) {
    background-image: url(../img/hero/hero-bg-desk.png);
    padding-top: 262px;
    padding-bottom: 261px;
    max-width: 1440px;
  }
}

.hero-title {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  color: #fff;
  margin-bottom: 24px;

  @include media(desktop) {
    font-size: 44px;
    margin-bottom: 15px;
  }
}

.hero-text {
  font-family: 'DM Sans', sans-serif;
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  text-align: center;
  color: #fff;
  max-width: 246px;
  margin-left: auto;
  margin-right: auto;

  @include media(desktop) {
    font-size: 24px;
    max-width: 1012px;
    margin-left: auto;
    margin-right: auto;
  }
}
