.context-menu {
  background: #151515;
  padding-top: 10px;
  width: 100%;
  height: 100%;
  flex-direction: row-reverse;
  justify-content: space-between;
  align-items: start;
  margin: 0 auto;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 10;
  overflow-y: auto;
  transform: translateX(100%);
  opacity: 0;
  transition: all 0.3s ease-in-out;
  visibility: hidden;

  @include media(desktop) {
    max-width: 375px;
    max-height: 812px;
  }
}

.context-container {
  padding: 0 10px;
}

.close-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  margin-left: auto;
  margin-bottom: 166px;

  @include media(desktop) {
  }
}

.close-icon {
  @include media(desktop) {
    width: 40px;
    height: 40px;
  }
}

.context-nav {
}

.context-nav-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;

  @include media(desktop) {
  }
}

.context-list-item {
}

.context-list-link {
  font-family: 'Space Grotesk', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in-out;

  @include media(desktop) {
    font-size: 24px;
  }

  &:active {
  }
}

.is-open {
  display: flex;
  transform: translateX(0);
  opacity: 1;
  visibility: visible;

  @include media(desktop) {
  }
}

.closed {
  display: none;
  transform: translateX(100%);
  opacity: 0;
  visibility: hidden;
}

.screen-freeze {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
