<section class="section adaptation-section" id="adaptation">
  <div class="adaptation-wrapper">
    <div class="container adaptation-container">
      <h2 class="section-title adaptation-title">We React to You.</h2>
      <p class="section-subtitle adaptation-subtitle">
        Altaro constantly reorders your track based on:
      </p>
      <ul class="adaptation-list">
        <li class="adaptation-list-item">
          <picture>
            <source
              srcset="./img/adaptation/adaptation-clock-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/adaptation/adaptation-clock-mob.png"
              width="50"
              height="50"
            />
            <img
              class="adaptation-img"
              src="./img/adaptation/adaptation-clock-mob.png"
              alt="Clock"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <p class="adaptation-item-text">How long you pause on a decision</p>
        </li>
        <li class="adaptation-list-item">
          <picture>
            <source
              srcset="./img/adaptation/adaptation-language-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/adaptation/adaptation-language-mob.png"
              width="50"
              height="50"
            />
            <img
              class="adaptation-img"
              src="./img/adaptation/adaptation-language-mob.png"
              alt="Language"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <p class="adaptation-item-text">
            What language you use in reflection
          </p>
        </li>
        <li class="adaptation-list-item">
          <picture>
            <source
              srcset="./img/adaptation/adaptation-calendar-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/adaptation/adaptation-calendar-mob.png"
              width="50"
              height="50"
            />
            <img
              class="adaptation-img"
              src="./img/adaptation/adaptation-calendar-mob.png"
              alt="Calendar"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <p class="adaptation-item-text">Which challenges you delay</p>
        </li>
        <li class="adaptation-list-item">
          <picture>
            <source
              srcset="./img/adaptation/adaptation-tag-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/adaptation/adaptation-tag-mob.png"
              width="50"
              height="50"
            />
            <img
              class="adaptation-img"
              src="./img/adaptation/adaptation-tag-mob.png"
              alt="Tag"
              width="50"
              height="50"
              loading="lazy"
            />
          </picture>
          <p class="adaptation-item-text">What you tag as “not me”</p>
        </li>
      </ul>
      <p class="adaptation-text">
        This isn’t AI pretending to know you — it’s logic that responds.
      </p>
    </div>
  </div>
</section>
