<section class="section cta-section" id="cta">
  <div class="cta-wrapper">
    <div class="container cta-container">
      <h2 class="section-title cta-title">
        If You’re Still Reading, You’re Probably Ready.
      </h2>
      <p class="section-subtitle cta-subtitle">
        Begin the track-finder.<br />
        No commitment, no signup required.<br />
        Just answer 5 short prompts.
      </p>
      <a class="cta-link" href="#home">Start With Track Finder</a>
    </div>
  </div>
</section>
