<footer class="footer" id="footer">
  <div class="container footer-container">
    <div class="footer-text-wrapper">
      <p class="footer-text">© 2025 Altaro LLC. All rights reserved.</p>
      <a href="mailto:altaro.team@gmail.com" class="footer-email-link"
        >altaro.team@gmail.com</a
      >
    </div>
    <nav class="footer-nav">
      <ul class="footer-list">
        <li class="footer-list-item">
          <a class="footer-link" href="policies.pdf#page=1"
            >[Privacy Policy] |</a
          >
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="policies.pdf#page=7"
            >[Terms of Calm] |</a
          >
        </li>
        <li class="footer-list-item">
          <a class="footer-link" href="policies.pdf#page=11">[Cookies]</a>
        </li>
      </ul>
    </nav>
  </div>
</footer>
