<section class="section hero-section" id="home">
  <div class="hero-wrapper">
    <div class="container hero-container">
      <h1 class="hero-title">Change Your Path. Without Starting From Zero.</h1>
      <p class="hero-text">
        Altaro is for people who don’t need degrees — they need direction.<br />
        We help you move from confusion to capability with practical, adaptive
        self-learning tracks.<br />
        No instructors. No grades. No video bingeing. Just momentum.
      </p>
    </div>
  </div>
</section>
