<section class="section learning-section" id="learning">
  <div class="learning-wrapper">
    <div class="container learning-container">
      <h2 class="section-title learning-title">
        Knowledge Is a Byproduct. Change Comes First.
      </h2>
      <p class="section-subtitle learning-subtitle">
        Instead of lectures, you’ll interact with:
      </p>
      <ul class="learning-list">
        <li class="learning-list-item">
          <picture>
            <source
              srcset="./img/learning/learning-scenarios-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/learning/learning-scenarios-mob.png"
              width="40"
              height="40"
            />
            <img
              class="learning-img"
              src="./img/learning/learning-scenarios-mob.png"
              alt="Scenarios"
              width="40"
              height="40"
              loading="lazy"
            />
          </picture>
          <h3 class="learning-item-title">Scenarios</h3>
          <p class="learning-item-text">
            real-world situations to test response
          </p>
        </li>
        <li class="learning-list-item">
          <picture>
            <source
              srcset="./img/learning/learning-cards-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/learning/learning-cards-mob.png"
              width="40"
              height="40"
            />
            <img
              class="learning-img"
              src="./img/learning/learning-cards-mob.png"
              alt="Cards"
              width="40"
              height="40"
              loading="lazy"
            />
          </picture>
          <h3 class="learning-item-title">Trilemma Cards</h3>
          <p class="learning-item-text">
            3 choices, each with ethical/strategic tradeoffs
          </p>
        </li>
        <li class="learning-list-item">
          <picture>
            <source
              srcset="./img/learning/learning-eye-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/learning/learning-eye-mob.png"
              width="40"
              height="40"
            />
            <img
              class="learning-img"
              src="./img/learning/learning-eye-mob.png"
              alt="Eye"
              width="40"
              height="40"
              loading="lazy"
            />
          </picture>
          <h3 class="learning-item-title">Blind Spots</h3>
          <p class="learning-item-text">
            reflection prompts to explore your own bias
          </p>
        </li>
        <li class="learning-list-item">
          <picture>
            <source
              srcset="./img/learning/learning-clock-desk.png"
              media="(min-width: 1440px)"
              width="100"
              height="100"
            />
            <source
              srcset="./img/learning/learning-clock-mob.png"
              width="40"
              height="40"
            />
            <img
              class="learning-img"
              src="./img/learning/learning-clock-mob.png"
              alt="Clock"
              width="40"
              height="40"
              loading="lazy"
            />
          </picture>
          <h3 class="learning-item-title">Mini-Projects</h3>
          <p class="learning-item-text">
            challenges you can complete in 45–90 minutes
          </p>
        </li>
      </ul>
      <p class="learning-text">
        You don’t “finish a module”. You shift a habit.
      </p>
    </div>
  </div>
</section>
