<div class="context-menu">
  <div class="container context-container">
    <button class="close-btn" type="button" aria-label="Close mobile menu">
      <svg class="close-icon" width="21" height="21">
        <use href="./img/sprite.svg#icon-close"></use>
      </svg>
    </button>
    <nav class="context-nav">
      <ul class="context-nav-list">
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#home"
            >Start Over, Smartly</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#works"
            >How Altaro Works</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#learning"
            >Learning Without Courses</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#tracks"
            >Persona-Based Tracks</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#adaptation"
            >Real Adaptation</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#reflections"
            >Student Reflections</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#contact"
            >Ask Us Anything</a
          >
        </li>
        <li class="context-list-item">
          <a class="context-list-link" href="./index.html#cta">Begin</a>
        </li>
      </ul>
    </nav>
  </div>
</div>
